body{
    background: white;
    padding: 40px;
    font-family: Arial;
}


.borde1 {
        width: 250px;
        height: 120px;

        background: linear-gradient(to right, blue, lightblue);

        border-top: 8px solid red;
    border-right: 8px solid blue;
    border-bottom: 8px solid green;
    border-left: 8px solid black;

    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

}

.borde2 {
 width: 250px;
    height: 100px;

    background: black;

    margin-top: 50px;

    border: 6px solid;
    border-image: linear-gradient(45deg, pink, purple, blue);
    border-image-slice: 1;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}